{"name":"Satis - Composer Repository","homepage":"http:\/\/example.com","repositories":[],"require":[],"require-all":false,"require-dependencies":true,"require-dev-dependencies":false,"archive":{"directory":"dist","format":"tar","skip-dev":true}}